<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
        >
    <context:annotation-config />
    <context:component-scan base-package="cma.xebia.lawnmower" />
    <aop:aspectj-autoproxy />
    
    <import resource="classpath:configuration/included/utils.xml" />
    <import resource="classpath:configuration/included/validators.xml" />
    <import resource="classpath:configuration/included/commands.xml" />
    <import resource="classpath:configuration/included/process.xml" />
    <import resource="classpath:configuration/included/lawn-mower.xml" />
    
    <bean   id="lawn-mower.controller"
            class="cma.xebia.lawnmower.controller.impl.LawnMowerController"
            scope="prototype" >
        <constructor-arg ref="utils.description.parser"/>
        <constructor-arg ref="process.shearer"/>
        <constructor-arg ref="lawn-mower.builder"/>
    </bean>
    
</beans>